.user-info--container{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    background-color: #1E2A47;
    border-radius: 15px;
    height: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.user-info--title{
    margin-top: 32px;
}

.user-info--container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info--title{
    display: inherit;
    justify-content: start;
    align-items: center;
}

.user-info--title div{
    height: 50px;
    margin-left: 19px;
    text-align: left;
}



.user-info--name{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.user-info--username{
    color: #0079FF;
    font-style: normal;
}

.user-info--joined{
    margin-top: 6px;
    color: white;
}
