.user-info--container{
    margin-top: 16px;
    display: none;
    flex-direction: column;
    background-color: #1E2A47;
    border-radius: 15px;
    height: auto;
    padding: 0 24px 30px;
}

.user-info--title{
    margin-top: 32px;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info--title{
    display: inherit;
    justify-content: start;
    align-items: center;
}

.user-info--title div{
    height: 50px;
    margin-left: 19px;
    text-align: left;
}



.user-info--name{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

.user-info--username{
    color: #0079FF;
    font-style: normal;
}

.user-info--joined{
    margin-top: 6px;
    color: white;
    font-size: 1.1rem;
}

.user-info--statics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #141D2F;
    padding: 18px 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.user-info--statics__number{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
}

.user-info--statics__title{
    font-size: 1rem;
    font-style: normal;
    color: white;
    line-height: 16px;
}

.user-info__bio{
    margin-top: 30px;
    color: white;
}

.user-info__social-network{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    flex-wrap: wrap;
}

.social-network__title{
    font-size: 1rem;
    font-weight: normal;
    line-height: 19px;
    color: white;
    margin-left: 10px;
}

.social-network__container {
    display: flex;
    margin-bottom: 5px;
}
