.search {
    background-color: #1E2A47;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 36px;
    padding: 7px;
    align-items: center;
}

.search__button {
    display: inline-block;
    border-radius: 10px;
    background-color: #0079FF;
    padding: 12px 16px;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    border: none;
}

.search__input {
    width: 100%;
    background: #1E2A47;
    font-size: 1.2rem;
    line-height: 25px;
    font-style: normal;
    font-weight: normal;
    font-family: "Space Mono", sans-serif;
    color: white;
    border: none;
    margin-left: 5px;
}

.search__input:focus {
    outline: none;
}

::placeholder {
    color: white;
}

.search__icon{
    /*background-image: url("./public/search-icon.svg");*/
}
